@use "base/variables" as v;
@use "base/mixins" as m;

.future {
  padding: 3rem 1.5rem;

  @include m.tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }

  &__image-web {
    width: 100%;
    height: auto;
    object-fit: cover;

    @include m.tablet {
      height: 30rem;
    }
  }

  &__content {
    flex-direction: column;

    @include m.tablet {
      flex-direction: row;
      gap: 3rem;
      padding: 10rem 0 12.5rem;
    }

    @include m.mindesk {
      padding: 5rem 0;
    }
  }

  &__heading {
    margin: 3rem 0;

    @include m.tablet {
      font-size: 4.6rem;
      margin: 0;
      width: 50%;
    }
  }

  &__intro {
    @include m.tablet {
      width: 50%;
    }
  }

  &__text {
    line-height: 1.5;
    color: v.$darkGrayishBlue;
  }

  &__btn {
    background-color: v.$softRed;
    color: v.$offWhite;
    margin-top: 3rem;
    padding: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-align: center;
    width: 52.5%;

    @include m.tablet {
      width: 80%;
    }
  }

  &-main {
    position: relative;
    @include m.tablet {
      display: flex;
      gap: 3rem;
      padding: 0 5rem;
    }
  }

  &-bg-shadow::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(240, 100%, 5%, 0.5);

    @include m.tablet {
      display: none;
    }
  }
}
